body {
    display:flex;
    font-size: 1em;
    margin:0;
    padding:0;
}

aside{
    width: 50%; 
}


aside .img-container {
   
    height: 100vh;
    background-image:url("../Ejercicio2/img/montania.jpg");
    background-size: cover; 
}
   

main {
    width:50%;
    background-color: #fff;
    font-size:1em;
}


form {
    height: 100vh;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
    margin:0 auto;
}


form img {
    width: 110px;
    margin-top:50px;
}


main input {
     width: 250px;
     height: 25px;
     margin-bottom:15px;
     border:1px solid rgb(148, 146, 146)  
}

label:hover{
    font-weight: bold;
    cursor: pointer;
}

.checkbox {
    display: flex;
    width:400px;
    justify-content: center;
    align-items: center;
}

#acepto{
    margin:10px;  
    width: 12px;
}

button{
    box-shadow: 5px 5px 20px rgb(234, 64, 64);
    border:none;
    font-weight: bolder;
}

button {
    width: 260px;
    height:30px;
    margin-top:10px;
    margin-bottom:100px;
    text-align:center;
    color:white;
    background-color:rgb(234, 64, 64);
}

button:hover {
    cursor:pointer;
    background-color:rgb(182, 39, 39);
    box-shadow:none;
}

h3 {
    color:rgb(234, 64, 64);
    text-transform: uppercase;
    font-size:1.2em;
}
    


/* Responsive    */
      

@media (max-width:800px)

{
    
    aside {
        width: 0%;  
    }
    main .container {
        width: 100vw;
        height: 100vh;
        background:linear-gradient(
            0deg,
            rgba(0,0,0,.5),
            rgba(0,0,0,.5) ),url("../Ejercicio2/img/montania.jpg");
        
        background-size: cover;
    }


    h3 {
        font-weight: bold;
    }
    

    label {
        font-weight: bold;
        color:white;
    }


    button{
        box-shadow: 5px 5px 20px rgb(216, 17, 17);
        border:none;
        font-weight: bolder;
    }


    label:hover {
        color:rgb(234, 226, 71);
    }

     

    
}
























 /* {
    margin:0;
    box-sizing: border-box;
}

body {
    min-width:100vh;
}
#main .lado2 {
    width: 50%;
}
    

#main {
    display:flex;
    
}

.head-form {
    display:flex;
    flex-direction:column;
    
}  */


 /* img {
    width: 500px;
 }
    

#logo {
      width: 50px;
} 

.lado2 {
    display: flex;
    flex-direction: column;
    
} */ */

